/* Entire page styling */
.news-content {
    height: auto;
    width: 100vw;

    background-color: white;

    margin-top: 80px;
}

/* Main styling */
.news-page-sections {
    padding: 0 14%;

    display: flex;
    flex-direction: column;

    gap: 48px;

    margin-top: 144px;
}

/* Sections styling */
.news-page-section {
    display: flex;
    flex-direction: column;

    gap: 32px;
}
.section-title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

    cursor: pointer;

    color: #3F3F3F;
}
.section-title#latest-title {
    font-size: 32px;
}

/* Container grid with the news boxes */
.section-container {
    display: grid;
   
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(2, 1fr);

    grid-template-areas:
        "latest-news latest-1"
        "latest-news latest-2"
        "latest-news latest-3";
    gap: 10px;
}
/* Latest of all the latest news */
.latest-news {
    position: relative;

    height: 480px;
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    padding: 20px;

    grid-area: latest-news;

    border-radius: 0;

    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.latest-1 {
    grid-area: latest-1;
}
.latest-2 {
    grid-area: latest-2;
}
.latest-3 {
    grid-area: latest-3;
}

.news-page-section#all-section {
    margin-bottom: 48px;
} 