/* Entire login page styling */
.login-content {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;

    background-color: white;
}

/* Brand container styling */
.brand-container {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.brand-container img {
    width: 360px;
    height: auto;
}
.brand-container p {
    font-size: 24px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;

    color: #3F3F3F;
}

/* Form container styling */
.form-container {
    width: 50%;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: black;
}